<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Soft - Серверное ПО</title>
    <link rel="stylesheet" href="/static/styles/styles_main.css">
</head>
<body>
<header>
    <div class="logo" onclick="window.location.href='/it_soft'" style="cursor: pointer;">IT Soft</div>
</header>

<main>
    <!-- Поисковая строка -->
    <div class="search-container">
        <div class="search-bar">
            <form action="/it_soft" method="GET">
                <input type="text" name="apps" placeholder="Быстрый поиск" value="{{ .apps }}">
                <button class="mag_glass">
                    <img src="http://127.0.0.1:9000/lb1/search.png" alt="Search">
                </button>
            </form>
        </div>
    </div>

    <h1>Серверное ПО</h1>

    <div class="software-cards">
        {{ range .orders }}
        <div class="card">
            <a href="/Software/{{ .ID }}" class="card-title-link" style="text-decoration: none; color: inherit;">
                <h2>{{ .Title }}</h2>
            </a>
            <img src="{{ .IMG }}" alt="{{ .Title }} logo">
            <p>Версия: {{ .Version }}</p>
            <p>Размер: {{ .Size }} ГБ</p>
            <p>{{ .Description }}</p>
        </div>
        {{ else }}
        <p>Нет доступных заказов</p>
        {{ end }}
    </div>

    <div class="cart-bottom-left">
        <a href="#">
            <img onclick="window.location.href='/Software_request/{{ .CartCount }}/{{ .CartID }}'" 
                 src="http://127.0.0.1:9000/lb1/cart.png" 
                 alt="Cart" class="cart-icon">
            <span class="cart-count">{{ .CartCount }}</span>
        </a>
    </div>
</main>
</body>
</html>
