<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Soft - {{.order.Title}}</title>
    <link rel="stylesheet" href="/static/styles/styles_prod.css">
</head>
<body>
    <header>
        <div class="logo" onclick="window.location.href='/hello'" style="cursor: pointer;">IT Soft</div>
        <div class="cart">
            <a>
                <img onclick="window.location.href='/cart'" src="http://127.0.0.1:9000/lb1/cart.png" alt="Cart" class="cart-icon" style="cursor: pointer;">
                <span class="cart-count">2</span>
            </a>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="product-layout">
                <div class="image-section">
                    <img src="{{.order.IMG}}" alt="{{.order.Title}} Logo" class="product-image">
                </div>
                <div class="content-section">
                    <h1 class="product-title">{{.order.Title}}</h1>
                    
                    <section class="support-info">
                        <div class="support-row">
                            <span class="label">Поддержка:</span>
                            <span class="value">{{.order.OS}}</span>
                        </div>
                        <div class="support-row">
                            <span class="label">Поддерживаемые версии:</span>
                        </div>
                        <div class="version-list">
                            {{range .versions}}
                            <div class="version-item">
                                <span class="version">{{.Number}}</span>
                                <span class="size">- {{.Size}}</span>
                                <span class="time">- {{.Time}}</span>
                            </div>
                            {{else}}
                            <p>Версии не найдены</p>
                            {{end}}
                        </div>
                    </section>
                </div>
            </div>
            
            <section class="description">
                <p>{{.order.FullDescription}}</p>
            </section>
            
            <section class="functions">
                <h2>Основные функции:</h2>
                <div class="functions-text">
                    {{.order.Functions}}
                </div>
            </section>
        </div>
    </main>
</body>
</html>
